<template>
  <div class="add-banner">
    <div class="add-banner-heading" style="text-align: center;">Add Banner</div>
    <div class="divider"></div>
    <div class="add-banner-navigator">
      <div class="add-banner-navigator-item" :class="{'active': activeBanner == 'banner-conf'}">
        <div class="add-banner-navigator-icon">
          <span class="material-icons">tune</span>
        </div>
        <div class="add-banner-navigator-text">Banner Configuration</div>
      </div>
      <div class="separator"></div>
      <div class="add-banner-navigator-item" :class="{'active': activeBanner == 'select-brand'}">
        <div class="add-banner-navigator-icon">
          <span class="material-icons">addchart</span>
        </div>
        <div class="add-banner-navigator-text">Select Brand</div>
      </div>
      <div class="separator"></div>
      <div class="add-banner-navigator-item" :class="{'active': activeBanner == 'select-product'}">
        <div class="add-banner-navigator-icon">
          <span class="material-icons">add_task</span>
        </div>
        <div class="add-banner-navigator-text">Select Product</div>
      </div>
    </div>

    <div class="banner-tabs">
      <BannerConf v-if="activeBanner == 'banner-conf'" @update-active-banner="updateBannerTab" />
      <SelectBrand
        :brands="filteredBrands"
        v-if="activeBanner == 'select-brand'"
        @update-active-banner="updateTabToProducts"
      />
      <SelectProduct
        :products="filteredProducts"
        v-if="activeBanner == 'select-product'"
        @update-product-list="callCreateBanner"
      />
    </div>
  </div>
</template>

<script>
import compressedImage from "@/mixins/imageCompression.js";
import toaster from "@/mixins/toaster.js";
import BannerConf from "@/components/Layouts/AddProducts/Banners/BannerConf.vue";
import SelectBrand from "@/components/Layouts/AddProducts/Banners/SelectBrand.vue";
import SelectProduct from "@/components/Layouts/AddProducts/Banners/SelectProduct.vue";
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    BannerConf,
    SelectBrand,
    SelectProduct,
  },
  mixins: [compressedImage, toaster],
  data() {
    return {
      activeBanner: "banner-conf",
    };
  },
  computed: {
    ...mapGetters("createBanner", ["filteredBrands", "filteredProducts"]),
  },
  methods: {
    ...mapActions("createBanner", ["getBrands", "getProducts", "createBanner"]),
    updateBannerTab(value) {
      this.activeBanner = value;
      this.getBrands();
    },
    updateTabToProducts(value) {
      this.activeBanner = "select-product";
      this.getProducts();
    },
    callCreateBanner(value) {
      this.createBanner(value);
    },
  },
};
</script>

<style lang="scss">
.separator {
  max-width: 70px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.add-banner-heading {
  font-weight: 400;
  font-size: 2rem;
}
.add-banner-navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0rem 3rem;
  align-items: center;
}

.add-banner-navigator-item {
  font-size: 1.36rem;
  text-align: center;
  color: pointer;
  max-width: 170px;
  width: 100%;
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
}
.add-banner-navigator-item.active {
  color: #1e8dbd;
}

.add-banner-navigator-icon {
  padding-bottom: 3px;
  .material-icons {
    font-size: 2.4rem;
    font-weight: 400;
  }
}
.add-banner-navigator-item {
}
</style>