<template>
  <div>
    <div class="add-banner-heading">Update MVP</div>
    <div class="divider"></div>
    <md-field>
      <label>Update MVP</label>
      <md-file
        v-model="selectedSingleImg"
        accept="image/*"
        type="file"
        @change="onFileSelected"
      />
    </md-field>
    <md-button
      v-if="!loading"
      class="md-dense md-primary"
      @click.prevent="uploadImage"
      >Upload</md-button
    >
    <md-button disabled v-if="loading" class="md-dense md-primary">
      <div class="loader"></div>
    </md-button>
  </div>
</template>
<script>
import imageCompression from "browser-image-compression";
import compressedImage from "@/mixins/imageCompression.js";
import toaster from "@/mixins/toaster.js";
import { mapActions, mapState } from "vuex";
export default {
  mixins: [compressedImage, toaster],
  computed: {
    selectedSingleImg: {
      get() {
        return this.$store.state.updateMvp.selectedSingleImg;
      },
      set(value) {
        this.$store.commit("updateMvp/updateSelectedSingleImg", value);
      },
    },
    selectedFile: {
      get() {
        return this.$store.state.updateMvp.selectedFile;
      },
      set(value) {
        this.$store.commit("updateMvp/updateSelectedFile", value);
      },
    },
    singleImg: {
      get() {
        return this.$store.state.updateMvp.singleImg;
      },
      set(value) {
        this.$store.commit("updateMvp/updateImage", value);
      },
    },
    ...mapState("globalModule", ["loading"]),
  },
  methods: {
    ...mapActions("updateMvp", ["uploadImage"]),
  },
};
</script>
