<template>
  <div>
    <div class="add-banner-heading">Update Popular Product</div>
    <div class="divider"></div>
    <md-field>
      <label>Image</label>
      <md-file v-model="selectedSingleImg" accept="image/*" @change="onFileSelected" />
    </md-field>
    <md-field>
      <label>Brand Name</label>
      <md-input v-model="name"></md-input>
    </md-field>
    <md-field>
      <label>Description</label>
      <md-input v-model="description"></md-input>
    </md-field>
    <md-button v-if="!loading" class="md-dense md-primary" @click="createBrand">Add</md-button>
    <md-button v-if="loading" class="md-dense md-primary" disabled>
      <div class="loader"></div>
    </md-button>
  </div>
</template>

<script>
import imageCompression from "browser-image-compression";
import compressedImage from "@/mixins/imageCompression.js";
import toaster from "@/mixins/toaster.js";
import { mapActions, mapState } from "vuex";
export default {
  mixins: [compressedImage, toaster],
  computed: {
    ...mapState("globalModule", ["loading"]),
    name: {
      get() {
        return this.$store.state.createPopularBrand.name;
      },
      set(value) {
        this.$store.commit("createPopularBrand/updateName", value);
      },
    },
    description: {
      get() {
        return this.$store.state.createPopularBrand.description;
      },
      set(value) {
        this.$store.commit("createPopularBrand/updateDescription", value);
      },
    },
    selectedSingleImg: {
      get() {
        return this.$store.state.createPopularBrand.selectedSingleImg;
      },
      set(value) {
        return this.$store.commit(
          "createPopularBrand/updateSelectedPopularBrand"
        );
      },
    },
    singleImg: {
      get() {
        return this.$store.state.createPopularBrand.singleImg;
      },
      set(value) {
        this.$store.commit("createPopularBrand/updateSingleImg", value);
      },
    },
  },
  methods: {
    ...mapActions("createPopularBrand", ["createBrand"]),
  },
};
</script>