<template>
  <div>
    <div class="add-banner-heading">Add Product</div>
    <div class="divider"></div>
    <md-field>
      <label for="brand-name">Select Brand</label>
      <md-select v-model="brand" name="brand-name" id="brand-name">
        <md-option value="louis-vuitton">Louis Vuitton</md-option>
        <md-option value="gucci">Gucci</md-option>
      </md-select>
    </md-field>
    <md-field>
      <label>Name</label>
      <md-input v-model="name"></md-input>
    </md-field>
    <md-field>
      <label>Price</label>
      <md-input v-model.number="price" type="number"></md-input>
    </md-field>
    <md-field>
      <label>Retail Price</label>
      <md-input v-model.number="retail" type="number"></md-input>
    </md-field>
    <md-field>
      <label>Condition</label>
      <md-input v-model="condition"></md-input>
    </md-field>
    <md-field>
      <label>Image</label>
      <md-file
        v-model="selectedSingleImg"
        @change="onFileSelected($event, 'single')"
        accept="image/*"
      />
    </md-field>
    <md-field>
      <label>Description</label>
      <md-textarea v-model="description"></md-textarea>
    </md-field>
    <md-field>
      <label>Multiple Images</label>
      <md-file
        v-model="selectedMultipleImg"
        @change="onFileSelected($event, 'multiple')"
        multiple
        accept="image/*"
      />
    </md-field>
    <!-- <div style="font-size: 17px; color: #555; margin: 50px 0 40px">
      <input id="verification" type="checkbox" />
      <label
        for="verification"
        style="margin-left: 15px; font-weight: 400;"
      >Verification: 100% Authentic</label>
    </div>-->
    <md-button v-if="!loading" class="md-dense md-primary" @click="createProduct">Add</md-button>
    <md-button v-if="loading" class="md-dense md-primary" disabled>
      <div class="loader"></div>
    </md-button>
  </div>
</template>

<script>
import imageCompression from "browser-image-compression";
import compressedImage from "@/mixins/imageCompression.js";
import toaster from "@/mixins/toaster.js";
import { mapActions, mapState } from "vuex";
export default {
  mixins: [compressedImage, toaster],
  data() {
    return {
      selectedFile: null,
    };
  },
  computed: {
    ...mapState("globalModule", ["loading"]),
    brand: {
      get() {
        return this.$store.state.createProduct.brand;
      },
      set(value) {
        this.$store.commit("createProduct/updateBrand", value);
      },
    },
    name: {
      get() {
        return this.$store.state.createProduct.name;
      },
      set(value) {
        this.$store.commit("createProduct/updateName", value);
      },
    },
    price: {
      get() {
        return this.$store.state.createProduct.price;
      },
      set(value) {
        this.$store.commit("createProduct/updatePrice", value);
      },
    },
    retail: {
      get() {
        return this.$store.state.createProduct.retail;
      },
      set(value) {
        this.$store.commit("createProduct/updateRetail", value);
      },
    },
    condition: {
      get() {
        return this.$store.state.createProduct.condition;
      },
      set(value) {
        this.$store.commit("createProduct/updateCondition", value);
      },
    },
    description: {
      get() {
        return this.$store.state.createProduct.description;
      },
      set(value) {
        this.$store.commit("createProduct/updateDescription", value);
      },
    },
    singleImg: {
      get() {
        return this.$store.state.createProduct.singleImg;
      },
      set(value) {
        this.$store.commit("createProduct/updateSingleImg", value);
      },
    },
    multipleImg: {
      get() {
        return this.$store.state.createProduct.multipleImg;
      },
      set(value) {
        this.$store.commit("createProduct/updateMultipleImg", value);
      },
    },
    selectedSingleImg: {
      get() {
        return this.$store.state.createProduct.selectedSingleImg;
      },
      set(value) {
        this.$store.commit("createProduct/updateSelectedSingleImg", value);
      },
    },
    selectedMultipleImg: {
      get() {
        return this.$store.state.createProduct.selectedMultipleImg;
      },
      set(value) {
        this.$store.commit("createProduct/updateSelectedMultipleImg", value);
      },
    },
  },
  methods: {
    ...mapActions("createProduct", ["createProduct"]),
  },
};
</script>