.md-select-menu {
  background-color: #fff;
}
.add-product-form {
  background-color: #fff;
  max-width: 70rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 2rem;
  margin-bottom: 15px;
}
.add-product-title {
  font-size: 2rem;
}
.md-field {
  label {
    color: #888;
  }
}
.md-has-textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.md-dense {
  background-color: #1e8dbd !important;
  color: #fff !important;
  font-size: 1.6rem !important;
  text-transform: capitalize !important;
}
.add-button {
  padding: 5px;
  border-radius: 100px;
  width: 40px;
  display: flex;
  height: 40px;
  background-color: #1e8dbd;
  cursor: pointer;
  .material-icons {
    font-weight: bold;
    color: white;
    margin: auto;
  }
}
.md-chip {
  background-color: rgb(220, 220, 220);
}

.md-chip .md-button.md-input-action .md-icon svg {
  fill: whitesmoke;
}
.md-chip .md-button.md-input-action .md-ripple {
  border: none;
  background-color: #b0b0b0;
}
.md-chips.md-field {
  padding-top: 0 !important;
  margin-bottom: 0;
  border-bottom: 0;
  margin-top: 0;
}

.approve-btn {
  font-weight: bold;
  color: #1e8dbd;
}
.admin-section__content-header {
  display: flex;
  align-items: center;
  h2 {
    font-size: 3.2rem;
    font-weight: 400;
    color: #666;
  }
  .btn {
    background-color: darken(#1e8dbd, 5%);
    // background-color: #3f51b5;
    color: white;
    font-weight: 500;
    margin-left: auto;
    padding: 1rem 2rem;
    border-radius: 3px;
    cursor: pointer;
  }
}

.mvp-img-container {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.mvp-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.pproduct {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 4fr));
  .pproduct__card {
    max-width: 240px;
    width: 100%;
    margin-right: 2rem;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
    &--title {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 8px;
    }
    &--descr {
      font-size: 1.55rem;
      color: #555;
      padding: 0 8px;
      margin-bottom: 8px;
    }
  }
}

.pproduct__card--selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 100%;
  font-size: 1.8rem;
  padding: 15px 20px;
  border-left: 3px solid #1e8dbd;
  background-color: #f2f2f2;
  .link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(5, 133, 73, 0.867);
    &:hover {
      text-decoration: none;
    }
  }
}

.banner__cards {
  display: flex;
  flex-direction: column;
}
.banner__card {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &--title {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 8px;
    color: #333;
  }
  &--media {
    width: 100%;
    height: 250px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

// spinner
.loader {
  margin: 0 auto;
  border: 3px solid #fff; /* Light grey */
  border-top: 3px solid transparent; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-big {
  margin: 80px auto;
  border: 3px solid #1e8dbd; /* Light grey */
  border-top: 3px solid transparent; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

// another spinner
.lds-roller {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0 auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #555;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
