.add-button {
  padding: 5px;
  border-radius: 100px;
  width: 40px;
  display: flex;
  height: 40px;
  background-color: #1e8dbd;
  cursor: pointer;
  .material-icons {
    font-weight: bold;
    color: white;
    margin: auto;
  }
}

.btn {
  padding: 0.5rem 1.6rem;
  border-radius: 1px;
  cursor: pointer;
  text-align: center;
}

.btn--navbar {
  border: 2px solid $bg-color;
  color: $bg-color;
  @include respond(phone) {
    border: 2px solid $color-text;
    color: $color-text;
  }
}

.btn--lighten {
  border: 2px solid $bg-color;
  color: $bg-color;
}

.btn--darken {
  border: 2px solid $color-text;
  color: $color-text;
}

.btn--large {
  font-size: 1.6rem;
  font-weight: 600;
}

.btn--primary {
  background-color: #3e2768;
  color: #fff;
  padding: 0.8rem 2rem;
  text-decoration: none !important;
}

.btn--blue {
  background-color: $color-primary;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 2px;
  margin-bottom: 2px;
  font-weight: 700;
  padding: 7px 12px;
}

.btn--red {
  background-color: hsl(0, 57%, 50%);
  color: #ffff;
  font-weight: 700;
  padding: 7px 12px;
  font-size: 1.4rem;
  border-radius: 2px;
  margin-bottom: 2px;
}
