<template>
  <div class="add-product">
    <div class="add-product-form" v-if="category !=='add-banner' && category !== 'most-popular'">
      <Mvp v-if="category === 'mvp'" />
      <Product v-if="category === 'products'" />
      <PopularBrands v-if="category === 'popular-brands'" />
    </div>
    <MostPopular v-if="category === 'most-popular'" />
    <AddBanner v-if="category === 'add-banner'" />
  </div>
</template>

<script>
import Mvp from "@/components/Layouts/AddProducts/MVP.vue";
import Product from "@/components/Layouts/AddProducts/Product.vue";
import MostPopular from "@/components/Layouts/AddProducts/MostPopular.vue";
import PopularBrands from "@/components/Layouts/AddProducts/PopularBrands.vue";
import AddBanner from "@/components/Layouts/AddProducts/Banners.vue";
export default {
  components: {
    Mvp,
    Product,
    MostPopular,
    PopularBrands,
    AddBanner,
  },
  data() {
    return {
      activeTab: "mvp",
      category: this.$route.params.id,
    };
  },
};
</script>