<template>
  <div>
    <div class="admin-section__inner" style="margin-top: -20px;">
      <div class="admin-section__content">
        <md-tabs>
          <md-tab id="bids" md-label="Bids" @click="getBids">
            <div v-if="loading" class="loader-big"></div>
            <md-table v-if="!loading" v-model="filteredBids" md-card>
              <md-table-empty-state md-label="No Bids Found"></md-table-empty-state>
              <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="Id">{{ item.bidId }}</md-table-cell>
                <md-table-cell md-label="User Id">{{ item.userId }}</md-table-cell>
                <md-table-cell md-label="User Name">{{ item.userName }}</md-table-cell>
                <md-table-cell md-label="Product Id">{{ item.productId }}</md-table-cell>
                <md-table-cell md-label="Product Name">{{ item.productName }}</md-table-cell>
                <md-table-cell md-label="Bid">{{ item.bid }}</md-table-cell>
              </md-table-row>
            </md-table>
          </md-tab>
          <md-tab id="asks" md-label="Asks" @click="getAsks">
            <div v-if="loading" class="loader-big"></div>
            <md-table v-if="!loading" v-model="filteredAsks" md-card>
              <md-table-empty-state md-label="No users found"></md-table-empty-state>
              <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="Id">{{ item.askId }}</md-table-cell>
                <md-table-cell md-label="User Id">{{ item.userId }}</md-table-cell>
                <md-table-cell md-label="User Name">{{ item.userName }}</md-table-cell>
                <md-table-cell md-label="Product Id">{{ item.productId }}</md-table-cell>
                <md-table-cell md-label="Product Name">{{ item.productName }}</md-table-cell>
                <md-table-cell md-label="Ask">{{ item.ask }}</md-table-cell>
              </md-table-row>
            </md-table>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import ProductsPagination from "@/components/Pagination";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  components: {
    ProductsPagination,
  },
  data() {
    return {
      users: [],
    };
  },
  computed: {
    ...mapGetters("bidsAsks", ["filteredBids", "filteredAsks"]),
    ...mapState("globalModule", ["loading"]),
  },
  methods: {
    ...mapActions("bidsAsks", ["getBids", "getAsks"]),
  },
  mounted() {
    this.getBids();
  },
};
</script>