<template>
  <div>
    <div class="admin-section__inner" style="margin-top: -20px;">
      <div class="admin-section__content">
        <md-tabs>
          <md-tab id="buyers" md-label="Buyers" @click="getBuyers">
            <div v-if="!filteredBuyers.length" class="loader-big"></div>
            <md-table
              v-if="!!filteredBuyers.length"
              v-model="filteredBuyers"
              md-card
              md-fixed-header
            >
              <md-table-empty-state
                md-label="No users found"
                :md-description="`No user found`"
              ></md-table-empty-state>

              <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="Id" md-numeric>{{
                  item.id
                }}</md-table-cell>
                <md-table-cell md-label="First Name">{{
                  item.firstName
                }}</md-table-cell>
                <md-table-cell md-label="Last Name">{{
                  item.lastName
                }}</md-table-cell>
                <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
                <md-table-cell md-label="Password">{{
                  item.password
                }}</md-table-cell>
                <md-table-cell md-label="Status">{{
                  item.status
                }}</md-table-cell>
              </md-table-row>
            </md-table>

            <ProductsPagination
              :results="resultsCount"
              v-show="filteredBuyers.length && resultsCount <= 10"
              @pagination-no="getBuyers"
            />
          </md-tab>
          <md-tab id="sellers" md-label="Sellers" @click="getSellers">
            <div v-if="!filteredSellers.length" class="loader-big"></div>
            <md-table
              v-if="!!filteredSellers.length"
              v-model="filteredSellers"
              md-card
              md-fixed-header
            >
              <md-table-empty-state
                md-label="No users found"
                :md-description="`No user found for this query.`"
              ></md-table-empty-state>

              <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="Id" md-numeric>{{
                  item.id
                }}</md-table-cell>
                <md-table-cell md-label="First Name">{{
                  item.firstName
                }}</md-table-cell>
                <md-table-cell md-label="Last Name">{{
                  item.lastName
                }}</md-table-cell>
                <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
                <md-table-cell md-label="Password">{{
                  item.password
                }}</md-table-cell>
                <md-table-cell md-label="Status">{{
                  item.status
                }}</md-table-cell>
              </md-table-row>
            </md-table>
            <ProductsPagination
              :results="resultsCount"
              v-show="filteredSellers.length && resultsCount <= 10"
              @pagination-no="getSellers"
            />
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import ProductsPagination from "@/components/Pagination";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  components: {
    ProductsPagination,
  },
  computed: {
    ...mapState("buyersSellers", {
      resultsCount: (state) => state.resultsCount,
    }),
    ...mapGetters("buyersSellers", ["filteredBuyers", "filteredSellers"]),
  },
  methods: {
    ...mapActions("buyersSellers", ["getBuyers", "getSellers"]),
  },
  created() {
    this.getBuyers();
  },
};
</script>
