<template>
  <div>
    <div class="admin-section__inner" style="margin-top: -20px;">
      <div class="admin-section__content">
        <md-tabs>
          <md-tab id="pending" md-label="Pending">
            <div v-if="loading" class="loader-big"></div>
            <md-table v-if="!loading" v-model="pending" md-card md-fixed-header>
              <md-table-empty-state
                md-label="No pending orders available"
              ></md-table-empty-state>
              <md-table-row
                slot="md-table-row"
                slot-scope="{ item }"
                :key="item.id"
              >
                <md-table-cell md-label="Buyer ID" md-numeric>{{
                  item.Buyer_Id
                }}</md-table-cell>
                <md-table-cell md-label="Buyer Name">{{
                  item.Buyer_Name
                }}</md-table-cell>
                <md-table-cell md-label="ID">{{ item.Id }}</md-table-cell>
                <md-table-cell md-label="Price">{{ item.Price }}</md-table-cell>
                <!-- <md-table-cell md-label="Product ID">{{ item.Product_Id }}</md-table-cell> -->
                <md-table-cell md-label="Product Name">{{
                  item.Product_Name
                }}</md-table-cell>
                <md-table-cell md-label="Seller ID">{{
                  item.Seller_Id
                }}</md-table-cell>
                <md-table-cell md-label="Seller Name">{{
                  item.Seller_Name
                }}</md-table-cell>
                <md-table-cell md-label="Status">
                  <div class="approve-btn" @click="approveOrder(item.Id)">
                    Approve
                  </div>
                </md-table-cell>
              </md-table-row>
            </md-table>
          </md-tab>
          <md-tab id="approved" md-label="Approved" @click="getApprovedOrders">
            <div v-if="loading" class="loader-big"></div>
            <md-table
              v-if="!loading"
              v-model="approved"
              md-card
              md-fixed-header
            >
              <md-table-empty-state
                md-label="No approved orders found"
              ></md-table-empty-state>
              <md-table-row
                slot="md-table-row"
                slot-scope="{ item }"
                :key="item.id"
              >
                <md-table-cell md-label="Buyer ID" md-numeric>{{
                  item.Buyer_Id
                }}</md-table-cell>
                <md-table-cell md-label="Buyer Name">{{
                  item.Buyer_Name
                }}</md-table-cell>
                <md-table-cell md-label="ID">{{ item.Id }}</md-table-cell>
                <md-table-cell md-label="Price">{{ item.Price }}</md-table-cell>
                <!-- <md-table-cell md-label="Product ID">{{ item.Product_Id }}</md-table-cell> -->
                <md-table-cell md-label="Product Name">{{
                  item.Product_Name
                }}</md-table-cell>
                <md-table-cell md-label="Seller ID">{{
                  item.Seller_Id
                }}</md-table-cell>
                <md-table-cell md-label="Seller Name">{{
                  item.Seller_Name
                }}</md-table-cell>
              </md-table-row>
            </md-table>
            <ProductsPagination
              :results="resultsCount"
              v-show="!loading && resultsCount > 10"
              @pagination-no="getApprovedOrders"
            />
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import ProductsPagination from "@/components/Pagination";
import toaster from "@/mixins/toaster.js";
import { mapActions, mapState } from "vuex";
import io from "socket.io-client";

export default {
  mixins: [toaster],
  components: {
    ProductsPagination,
  },
  computed: {
    ...mapState("orders", {
      pending: (state) => state.pending,
      approved: (state) => state.approved,
      resultsCount: (state) => state.resultsCount,
    }),
    ...mapState("globalModule", ["loading"]),
  },
  methods: {
    ...mapActions("orders", [
      "getPendingOrders",
      "getApprovedOrders",
      "approveOrder",
    ]),
  },
  created() {
    this.getPendingOrders();
  },
  mounted() {
    const socket = io("http://54.189.70.25");
    socket.on("initial orders", (data) => {
      this.getPendingOrders();
    });
    socket.on("showupdatedorders", function() {
      socket.emit("showorders");
    });
  },
};
</script>

<style lang="scss">
.approve-btn {
  font-weight: bold;
  color: #1e8dbd;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
</style>
