<template>
  <div>
    <div class="admin-section__inner" style="margin-top: -20px;">
      <div class="admin-section__content">
        <div class="admin-section__content-header">
          <h2>Settings</h2>
          <span @click="$router.push(`/addproduct/${activeTab}`)" class="btn"
            >Add</span
          >
        </div>
        <div class="divider"></div>
        <md-tabs>
          <md-tab @click="activeTab = 'mvp'" id="pending" md-label="MVP">
            <div v-if="!loading" class="mvp-img-container">
              <img :src="mvp" class="mvp-image" alt />
            </div>
            <div v-if="loading" class="loader-big"></div>
          </md-tab>
          <md-tab
            @click="activeTab = 'products'"
            id="Products"
            md-label="Products"
          >
            <div v-if="!loading">
              <div class="handbag-card-container">
                <HandbagCard
                  v-for="product in filteredProducts"
                  :key="product.id"
                  :product="product"
                />
              </div>
            </div>
            <ProductsPagination
              :results="resultsCount"
              v-show="!loading && resultsCount <= 10"
              @pagination-no="getProducts"
            />
            <div v-if="loading" class="loader-big"></div>
          </md-tab>
          <md-tab
            @click="activeTab = 'most-popular'"
            id="MostPopular"
            md-label="Most Popular"
          >
            <div class="pproduct" v-if="!loading">
              <div
                class="pproduct__card"
                v-for="product in filteredMostPopular"
                :key="product.id"
              >
                <div class="pproduct__card--media">
                  <img :src="product.image" alt />
                </div>
                <div class="pproduct__card--title">{{ product.name }}</div>
              </div>
            </div>
            <!-- <ProductsPagination
              :results="resultsCount"
              v-show="!loading"
              @pagination-no="getMostPopular"
            /> -->
            <div v-if="loading" class="loader-big"></div>
          </md-tab>
          <md-tab
            @click="activeTab = 'popular-brands'"
            id="PopularProduct"
            md-label="Popular Products"
          >
            <div class="pproduct" v-if="!loading">
              <div
                class="pproduct__card"
                v-for="brand in filteredPopularBrands"
                :key="brand.id"
              >
                <div class="pproduct__card--media">
                  <img :src="brand.image" alt />
                </div>
                <div class="pproduct__card--title">{{ brand.name }}</div>
              </div>
            </div>
            <div v-if="loading" class="loader-big"></div>
            <!-- <ProductsPagination
              :results="resultsCount"
              v-show="!loading"
              @pagination-no="getPopularBrands"
            /> -->
          </md-tab>
          <md-tab
            @click="activeTab = 'add-banner'"
            id="Banners"
            md-label="Banners"
          >
            <div class="banner__cards" v-if="!loading">
              <div
                class="banner__card"
                v-for="banner in filteredBanners"
                :key="banner.id"
              >
                <div class="banner__card--media">
                  <img :src="banner.image" alt />
                </div>
                <div class="banner__card--title">{{ banner.name }}</div>
              </div>
            </div>
            <!-- <ProductsPagination
              :results="resultsCount"
              v-show="!loading"
              @pagination-no="getBanners"
            /> -->
            <div v-if="loading" class="loader-big"></div>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import ProductsPagination from "@/components/Pagination";
import HandbagCard from "@/components/HandbagCard.vue";
export default {
  components: {
    ProductsPagination,
    HandbagCard,
  },
  data() {
    return {
      activeTab: "mvp",
    };
  },
  computed: {
    ...mapState("globalModule", ["loading"]),
    ...mapState("products", {
      mvp: (state) => state.mvp,
      products: (state) => state.products,
      resultsCount: (state) => state.resultsCount,
    }),
    ...mapGetters("products", [
      "filteredProducts",
      "filteredMostPopular",
      "filteredPopularBrands",
      "filteredBanners",
    ]),
  },
  watch: {
    activeTab(tab) {
      if (tab === "mvp") this.getMvp();
      else if (tab === "products") this.getProducts();
      else if (tab === "most-popular") this.getMostPopular();
      else if (tab === "popular-brands") this.getPopularBrands();
      else if (tab === "add-banner") this.getBanners();
    },
  },
  methods: {
    ...mapActions("products", [
      "getMvp",
      "getProducts",
      "getMostPopular",
      "getPopularBrands",
      "getBanners",
    ]),
  },
  mounted() {
    this.getMvp();
  },
};
</script>

<style lang="scss">
.handbag-card-container {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, 5fr));
}
</style>
