<template>
  <div class="admin">
    <div class="admin__inner">
      <admin-sidebar v-if="hamburger" v-show="$route.path != '/'" @showSidebarSelf="sidebarMethod" />
      <admin-section @showSidebar="sidebarMethod"></admin-section>
    </div>
  </div>
</template>

<script>
import AdminSidebar from "@/components/AdminSidebar.vue";
import AdminSection from "@/components/AdminSection.vue";
export default {
  components: {
    AdminSidebar,
    AdminSection,
  },
  data() {
    return {
      hamburger: false,
    };
  },
  methods: {
    sidebarMethod(value) {
      if (window.innerWidth < 600) {
        this.hamburger = value;
      }
    },
    updateSidebar() {
      window.innerWidth < 600
        ? (this.hamburger = false)
        : (this.hamburger = true);
    },
  },
  mounted() {
    this.updateSidebar();
    window.addEventListener("resize", this.updateSidebar);
  },
};
</script>