<template>
  <div class="add-product" style="width: 100%;">
    <div class="add-product-form" style="width: 100%; max-width: 100%; margin-top: 30px;">
      <md-field>
        <label>Select Banner Image</label>
        <md-file v-model="selectedSingleImg" accept="image/*" @change="onFileSelected" />
      </md-field>
      <md-field>
        <label>Banner Heading</label>
        <md-input v-model="heading"></md-input>
      </md-field>
      <md-field>
        <label>Description</label>
        <md-textarea v-model="description"></md-textarea>
      </md-field>
      <md-button class="md-dense md-primary" @click="updateBanner">Next</md-button>
    </div>
  </div>
</template>

<script>
import compressedImage from "@/mixins/imageCompression.js";
export default {
  mixins: [compressedImage],
  computed: {
    selectedSingleImg: {
      get() {
        return this.$store.state.createBanner.selectedSingleImg;
      },
      set(value) {
        this.$store.state.createBanner.selectedSingleImg = value;
      },
    },
    singleImg: {
      get() {
        return this.$store.state.createBanner.singleImg;
      },
      set(value) {
        this.$store.state.createBanner.singleImg = value;
      },
    },
    heading: {
      get() {
        return this.$store.state.createBanner.heading;
      },
      set(value) {
        this.$store.state.createBanner.heading = value;
      },
    },
    description: {
      get() {
        return this.$store.state.createBanner.description;
      },
      set(value) {
        this.$store.state.createBanner.description = value;
      },
    },
  },
  methods: {
    updateBanner() {
      if (!(this.heading && this.description && this.selectedSingleImg)) {
        this.$toasted.error("All the field are required");
        return;
      }
      this.$emit("update-active-banner", "select-brand");
    },
  },
};
</script>