<template>
  <div>
    <div v-if="loading" class="loader-big"></div>
    <template v-if="!loading">
      <div class="banner-instructor">
        <!-- <div class="header__search banner-search">
          <div class="header__search--input">
            <input type="text" placeholder="Search By Name" />
          </div>
        </div> -->
        <div
          v-show="selectedProducts.length"
          class="pproduct__card--selected"
          style="font-size: 17px; padding: 10px"
        >
          <div class="pproduct__card--selected-text">
            Selected
            <strong>{{ selectedProducts }}</strong>
          </div>
          <a class="link" @click="$emit('update-product-list', productsId)">
            Update
            <span class="material-icons">touch_app</span>
          </a>
        </div>
        <div class="divider"></div>
      </div>
      <div class="pproduct pproduct-banner" style="margin-top: 3rem;">
        <div
          class="pproduct__card"
          v-for="product in products"
          :key="product.id"
        >
          <div class="pproduct__card--media">
            <img :src="product.img" alt />
          </div>
          <div class="pproduct__card--title">{{ product.name }}</div>
          <div class="pproduct__card--descr">{{ product.description }}</div>
          <div class="pproduct__card--btn">
            <md-button
              v-if="!productsId.includes(product.id)"
              class="md-dense md-primary"
              @click="selectingProduct(product.id)"
              >select</md-button
            >
            <md-button
              v-if="productsId.includes(product.id)"
              class="md-dense md-primary"
              @click="unselectingProducts(product.id)"
              >selected</md-button
            >
          </div>
        </div>
      </div>
      <!-- <Pagination /> -->
    </template>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination.vue";
import { mapState } from "vuex";
export default {
  components: {
    Pagination,
  },
  props: ["products"],
  data() {
    return {
      productsId: [],
    };
  },
  computed: {
    ...mapState("globalModule", ["loading"]),
    selectedProducts() {
      return this.products
        .filter((product) => this.productsId.includes(product.id))
        .map(({ name }) => name)
        .join(", ");
    },
  },
  methods: {
    selectingProduct(id) {
      this.productsId.push(id);
    },
    unselectingProducts(id) {
      this.productsId.splice(this.productsId.indexOf(id), 1);
    },
  },
};
</script>

<style lang="scss">
.banner-instructor {
  position: sticky;
  top: -40px;
  left: 0;
  background-color: white;
  z-index: 20000;
}

.banner-search {
  padding-top: 1rem;
}
.pproduct-banner {
  margin-top: 1rem !important;
}
</style>
