<template>
  <div>
    <div class="pproduct__card--selected" style="margin-top: 15px;" v-show="selectedBrand">
      <div class="pproduct__card--selected-text">
        Selected
        <strong>{{ selectedBrand }}</strong>
      </div>
      <a class="link" @click="$emit('update-active-banner', selectedBrand)">
        Continue
        <span class="material-icons">touch_app</span>
      </a>
    </div>
    <div v-if="loading" class="loader-big"></div>
    <div v-if="!loading" class="pproduct" style="margin-top: 3rem;">
      <div class="pproduct__card" v-for="brand in brands" :key="brand.id">
        <div class="pproduct__card--media">
          <img :src="brand.img" alt />
        </div>
        <div class="pproduct__card--title">{{brand.name}}</div>
        <div class="pproduct__card--btn">
          <md-button class="md-dense md-primary" @click="selectedBrand = brand.name">select</md-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["brands"],
  data() {
    return {
      selectedBrand: null,
    };
  },
  computed: {
    ...mapState("globalModule", ["loading"]),
  },
};
</script>

<style lang="scss">
.pproduct__card--btn {
  display: flex;
  .md-dense {
    margin-left: auto;
  }
}
</style>