.admin {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  &__inner {
    display: flex;
  }
  &__hamburger {
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
    @include respond(phone) {
      display: inline-block;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 3rem;
      height: 3px;
      transition: transform 0.3s cubic-bezier(0.47, 0.58, 0.12, 0.95);
      background-color: #fff;
      margin-bottom: 5px;
    }

    .bar1 {
      transform-origin: left;
    }

    .bar3 {
      transform-origin: left;
    }

    &.change {
      .bar2 {
        visibility: hidden;
      }
      .bar1 {
        transform: rotate(45deg);
      }
      .bar3 {
        transform: rotate(-45deg);
      }
    }
  }
}

.admin__sidebar {
  background-color: $color-dark-bg;
  min-width: 25rem;
  height: 100vh;
  color: white;
  padding: 1.5rem;
  z-index: 4000;
  @include respond(phone) {
    animation: slidingNav 0.5s cubic-bezier(0.47, 0.58, 0.12, 0.95) forwards;
    padding: 3rem;
    font-size: 2.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  &--header {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(#fff, 0.1);
    img {
      filter: invert(100%) brightness(200%);
      margin: auto;
      max-height: 60px;
    }
  }
  &--link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    transition: 0.2s all ease-out;
  }
  &--icon {
    font-size: 1.6rem;
  }
  &--text {
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 1.5rem;
  }
  &--link--active,
  &--link:hover {
    background-color: rgba($color-primary, 0.1);
  }
  &--links {
    padding-top: 1.5rem;
  }
}

.admin-section {
  padding: 4rem 3rem;
  min-width: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  &__inner {
    word-spacing: 120%;
    width: 100%;
    min-width: 0;
  }
  &--title {
    font-size: 2.5rem;
    color: $color-dark-bg;
    padding-bottom: 1rem;
  }
  &__content {
    width: 100%;
    padding-top: 1rem;
  }
}
