.products {
  margin-top: 70px;
  padding-top: 3.5rem;
  @include flex-row;
  @include respond(phone) {
    margin-top: 0;
    padding-top: 2rem;
    flex-direction: column-reverse;
  }
  &__filter {
    @include flex-column;
    margin-right: 2rem;
    font-size: 1.8rem;
    min-width: 230px;
    color: $color-dark-bg;
    &--animation {
      height: 100vh;
      animation: slidingFilter 0.5s cubic-bezier(0.47, 0.58, 0.12, 0.95) forwards;
    }
    @include respond(phone) {
      margin-right: 0;
      position: fixed;
      max-height: 100vh;
      font-size: 2rem;
      cursor: pointer;
      // overflow-y: scroll;
      left: 0;
      bottom: 0;
      z-index: 2000;
      width: 100%;
      z-index: 2000;
      background-color: #fff;
    }
    &--title {
      box-shadow: 0 0 -14px 10px rgba(0, 0, 0, 0.5);
      font-size: 2rem;
      color: $color-dark-bg;
      font-weight: 600;
      text-align: center;
      padding: 1rem;
      display: none;
      background: rgba($color-dark-bg, 0.9);
      color: #fff;
      @include respond(phone) {
        display: inline-block;
      }
    }
    &--clear-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      display: none;
      @include respond(phone) {
        display: inline-block;
      }
    }
  }
  &__list {
    list-style-type: none;
    padding: 2rem 0;
    line-height: 150%;
    padding-top: 2rem;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &--parent {
      padding: 4rem 0;
      @include respond(phone) {
        overflow-y: scroll;
        padding: 2rem 4rem 0;
      }
    }
    &--title {
      text-transform: capitalize;
      font-weight: 700;
      padding-bottom: 1rem;
    }
    &--item {
      text-transform: capitalize;
      font-weight: 400;
      cursor: pointer;
    }
    &--checkbox {
      font-weight: 400;
      padding-bottom: 5px;
    }
  }
  &__list {
    @include flex-column;
  }
  &__items {
    padding-top: 2rem;
    max-width: 100%;
    width: 100%;
    &--cards {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(160px, 5fr));
    }
  }
  &__pagination {
    margin: 2rem 0;
  }
}
