.product-view {
  @include flex-row;
  margin-top: 13rem;
  margin-bottom: 8rem;
  @include respond(phone) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
}

// product details

.product-details {
  width: 100%;
  padding: 0 4rem;
  &--title {
    padding: 1rem 0;
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-dark-bg;
  }
}

.product {
  &__amounts {
    @include flex-column;
    padding: 1rem 0;
  }
  &__ask,
  &__bid {
    @include flex-row;
    justify-content: space-between;
    text-transform: capitalize;
  }
  &__ask {
    padding-bottom: 1rem;
  }
  &--total {
  }
  &--label {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-text;
    padding-bottom: 5px;
  }
  &--amount {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &__ask--all,
  &__bid--all {
    cursor: pointer;
    font-size: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
  &__ask--all {
    color: #c83737;
  }
  &__bid--all {
    color: $color-primary;
  }
  &__con,
  &__spec {
    padding: 1rem 0;
  }
  &__con--title,
  &__spec--title {
    font-weight: 500;
    color: $color-dark-bg;
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  &__con--detail,
  &__spec--detail {
    font-size: 1.4rem;
    color: #555;
    line-height: 140%;
    @include respond(phone) {
      font-size: 1.7rem;
    }
  }
  &__spec--detail {
    width: 100%;
  }
  &__spec--list {
    @include flex-column;
    margin: auto;
  }
  &__spec--item {
    @include flex-row;
    justify-content: space-between;
  }
  &__spec--left {
    font-weight: 500;
  }
}

// product display
.product-display {
  width: 100%;
}

.product__img-ondisplay {
  padding-top: 75%;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }
}
