<template>
  <div class="admin__sidebar">
    <div class="admin__hamburger change" @click="$emit('showSidebarSelf', false)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <router-link tag="div" to="/" class="admin__sidebar--header">
      <img src="@/assets/logo.svg" />
    </router-link>
    <div class="admin__sidebar--links">
      <router-link
        @click.native="$emit('showSidebarSelf', false)"
        :to="{name: 'Products'}"
        tag="div"
        class="admin__sidebar--link"
        active-class="admin__sidebar--link--active"
        exact
      >
        <div class="admin__sidebar--icon">
          <span class="material-icons">reorder</span>
        </div>
        <div class="admin__sidebar--text">Products</div>
      </router-link>
      <router-link
        @click.native="$emit('showSidebarSelf', false)"
        :to="{name: 'BuySell'}"
        tag="div"
        class="admin__sidebar--link"
        active-class="admin__sidebar--link--active"
        exact
      >
        <div class="admin__sidebar--icon">
          <span class="material-icons">attach_money</span>
        </div>
        <div class="admin__sidebar--text">Buyers/Sellers</div>
      </router-link>
      <router-link
        @click.native="$emit('showSidebarSelf', false)"
        :to="{name: 'Orders'}"
        tag="div"
        class="admin__sidebar--link"
        active-class="admin__sidebar--link--active"
        exact
      >
        <div class="admin__sidebar--icon">
          <span class="material-icons">archive</span>
        </div>
        <div class="admin__sidebar--text">Orders</div>
      </router-link>
      <router-link
        @click.native="$emit('showSidebarSelf', false)"
        :to="{name: 'BidsAsks'}"
        tag="div"
        class="admin__sidebar--link"
        active-class="admin__sidebar--link--active"
        exact
      >
        <div class="admin__sidebar--icon">
          <span class="material-icons">wysiwyg</span>
        </div>
        <div class="admin__sidebar--text">Bids/Asks</div>
      </router-link>
      <div class="admin__sidebar--link" @click="logout">
        <div class="admin__sidebar--icon">
          <span class="material-icons">exit_to_app</span>
        </div>
        <div class="admin__sidebar--text">Logout</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    logout() {
      localStorage.removeItem("id");
      localStorage.removeItem("token");
      this.$router.push("/");
    },
  },
};
</script>

