<template>
  <div class="product__card">
    <div class="product__card--img">
      <img :src="product.image" />
    </div>
    <div class="product__card--content">
      <div class="product__card--title">{{product.name}}</div>
      <div class="divider" style="margin: 5px 0;"></div>
      <div class="product__card--subtitle">Lowest Ask</div>
      <div class="product__card--price">{{product.lowestAsk}}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
};
</script>