<template>
  <div
    style="display: flex; flex-direction: column; margin: auto; margin-top: -4rem; width: 100%; height: 100vh;"
  >
    <div class="login-form">
      <div style="text-align:center; margin: 0 auto; padding-bottom: 2rem;">
        <img style="height: 70px;" src="@/assets/logo.svg" />
      </div>
      <div class="login-form-inner">
        <div class="login">
          <div class="form-input">
            <input type="email" placeholder="Email Address" v-model="email" />
          </div>
          <div class="form-input">
            <input type="password" placeholder="Password" v-model="password" />
          </div>
          <div style="cursor: pointer;" class="register-btn" @click="validatingLogin">
            <div v-show="!loading">Log In</div>
            <div v-show="loading" class="loader"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    email: {
      get() {
        return this.$store.state.email;
      },
      set(value) {
        this.updateEmail(value);
      },
    },
    password: {
      get() {
        return this.$store.state.psswrd;
      },
      set(value) {
        this.updatePassword(value);
      },
    },
    ...mapState("login", {
      toast: (state) => state.toast,
      watchToast: (state) => state.toast.watcher,
    }),
    ...mapState("globalModule", ["loading"]),
  },
  watch: {
    watchToast() {
      if (this.toast.type === "success")
        this.$toasted.success(this.toast.message);
      if (this.toast.type === "error") this.$toasted.error(this.toast.message);
    },
  },
  methods: {
    ...mapActions("login", [
      "updateEmail",
      "updatePassword",
      "validatingLogin",
    ]),
  },
  mounted() {},
};
</script>

<style lang="scss">
.login-heading {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}
.login-form {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.login-form-inner {
  background-color: #fafafa;
  border-radius: 6px;
  padding: 2rem 1rem 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
</style>