<template>
  <div class="pagination">
    <ul class="pagination--list">
      <div class="pagination--item pagination--icon" @click="goBack">
        <span class="material-icons">keyboard_arrow_left</span>
      </div>
      <li
        class="pagination--item"
        :class="{ 'pagination--active': activeNo == value }"
        v-for="(value, index) in paginationDisplay"
        :key="index"
        @click="activatePagi(value)"
      >
        <span>{{ value }}</span>
      </li>
      <!-- <li class="pagination--item pagination--active">
        <span>2</span>
      </li>-->
      <div class="pagination--item pagination--icon" @click="goForward">
        <span class="material-icons">keyboard_arrow_right</span>
      </div>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["results"],
  data() {
    return {
      activeNo: 1,
    };
  },
  computed: {
    totalPaginationNo() {
      const pagArray = [];
      for (let i = 1; i <= Math.ceil(this.results / 20); i++) {
        pagArray.push(i);
      }
      return pagArray;
    },
    paginationDisplay() {
      const pagi = this.totalPaginationNo;
      if (pagi.slice(this.activeNo - 1).length < 8) {
        if (pagi.length <= 8) {
          return pagi;
        }
        return pagi.slice(pagi.length - 8);
      }
      if (pagi.slice(this.activeNo - 1).length > 8) {
        if (this.activeNo > 3) {
          return [
            ...pagi.slice(this.activeNo - 2, this.activeNo + 2),
            "...",
            ...pagi.slice(pagi.length - 4),
          ];
        }
        return [...pagi.slice(0, 4), "...", ...pagi.slice(pagi.length - 4)];
      }
      return pagi.slice(this.activeNo - 1);
    },
  },
  methods: {
    goBack() {
      if (this.activeNo != 1) this.activeNo--;
      this.$emit("pagination-no", this.activeNo);
    },
    goForward() {
      if (this.activeNo != this.totalPaginationNo.length) this.activeNo++;
      this.$emit("pagination-no", this.activeNo);
    },
    activatePagi(value) {
      console.log(value);
      this.activeNo = value;
      this.$emit("pagination-no", value);
    },
  },
  mounted() {
    this.$emit("pagination-no", 1);
  },
};
</script>
