$color-primary: #30a9de;
$color-secondary: #095592;
$color-dark-bg: #011627;
$color-text: #555;
$bg-color: #f3f7f0;
$bg-color-white: #fff;

@mixin flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tabPort {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tabLand {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == bigDesktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
.admin {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  &__inner {
    display: flex;
  }
  &__hamburger {
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
    @include respond(phone) {
      display: inline-block;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 3rem;
      height: 3px;
      transition: transform 0.3s cubic-bezier(0.47, 0.58, 0.12, 0.95);
      background-color: #fff;
      margin-bottom: 5px;
    }

    .bar1 {
      transform-origin: left;
    }

    .bar3 {
      transform-origin: left;
    }

    &.change {
      .bar2 {
        visibility: hidden;
      }
      .bar1 {
        transform: rotate(45deg);
      }
      .bar3 {
        transform: rotate(-45deg);
      }
    }
  }
}

.admin__sidebar {
  background-color: $color-dark-bg;
  min-width: 25rem;
  height: 100vh;
  color: white;
  padding: 1.5rem;
  z-index: 4000;
  @include respond(phone) {
    animation: slidingNav 0.5s cubic-bezier(0.47, 0.58, 0.12, 0.95) forwards;
    padding: 3rem;
    font-size: 2.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  &--header {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(#fff, 0.1);
    img {
      filter: invert(100%) brightness(200%);
      margin: auto;
      max-height: 60px;
    }
  }
  &--link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    transition: 0.2s all ease-out;
  }
  &--icon {
    font-size: 1.6rem;
  }
  &--text {
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 1.5rem;
  }
  &--link--active,
  &--link:hover {
    background-color: rgba($color-primary, 0.1);
  }
  &--links {
    padding-top: 1.5rem;
  }
}

.admin-section {
  padding: 4rem 3rem;
  min-width: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  &__inner {
    word-spacing: 120%;
    width: 100%;
    min-width: 0;
  }
  &--title {
    font-size: 2.5rem;
    color: $color-dark-bg;
    padding-bottom: 1rem;
  }
  &__content {
    width: 100%;
    padding-top: 1rem;
  }
}

.md-table {
}
.md-table-head {
  color: darken($color-primary, 10%);
}
.md-table-cell {
  border-top: 1px solid rgba(#000, 0.1) !important;
}
.md-active {
  color: darken($color-primary, 10%);
  border-bottom: 3px solid darken($color-primary, 10%);
}
.md-tabs {
}
.md-tab {
  min-width: 0;
  padding-left: 4px;
  padding-right: 4px;
}
.md-checkbox {
  border: 2px solid rgba($color-text, 0.1);
}
.md-toolbar {
}
.md-field {
  border-bottom: 1px solid rgba($color-dark-bg, 0.3);
  margin-bottom: 0;
  padding: 0;
  .md-input {
    margin: 0;
  }
}
.md-table-alternate-header {
  color: #fff;
  background-color: darken($color-primary, 10%);
  & .md-toolbar {
    padding: 1rem 2rem;
  }
  & .md-icon {
    color: white;
  }
}
.md-content.md-table-content {
  height: auto;
  max-height: 30rem;
}
.md-checkbox.md-checked {
  background-color: $color-primary;
}
.md-table-cell-selection .md-checkbox .md-checkbox-container::after {
  border-color: #fff !important;
}

// pagination
.pagination {
  width: 100%;
  &--list {
    @include flex-row;
    padding-top: 1rem;
    font-size: 1.4rem;
    list-style: none;
    justify-content: center;
  }
  &--item {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 2px;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
    & span {
      margin: auto;
    }
    &:hover {
      background-color: $color-primary;
      color: #f2f2f2;
    }
  }
  &--active {
    background-color: $color-primary;
    color: #f2f2f2;
  }
}
