<template>
  <Dashboard />
</template>

<script>
import Dashboard from "@/views/Admin.vue";
export default {
  components: {
    Dashboard
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/main.scss";
</style>
